<!DOCTYPE html>
{% extends "client_userhome.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div class="card-body">
  <h4 class="card-title">Posted Projects</h4>
  <p class="card-description">Your listed project details</p>

  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full whitespace-no-wrap table-bordered table-hover">
        <thead>
          <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th>Sl no.</th>
            <th class="px-4 py-3">Project Title</th>
            <th class="px-4 py-3">Budget</th>
            <th class="px-4 py-3">Category</th>
            <th class="px-4 py-3">Deadline</th>
            <th class="px-4 py-3">Proposals</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for project in projects %}
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3 text-sm">
              {{ forloop.counter }}
            </td>
            <td class="px-4 py-3">
              <div class="text-sm">
                <p class="font-semibold">{{ project.title }}</p>
                <p class="text-xs text-gray-600 dark:text-gray-400">{{ project.description|truncatewords:8 }}</p>
              </div>
            </td>
            <td class="px-4 py-3 text-sm">
              ${{ project.budget_amount }}
            </td>
            <td class="px-4 py-3 text-sm">
              {{ project.category }}
            </td>
            <td class="px-4 py-3 text-sm">
              {{ project.deadline }}
            </td>
            <td class="px-4 py-3 text-sm">
              <a href="#" class=" btn btn-warning">View Proposals</a>
            </td>
            <td class="px-4 py-3 text-sm">
              <a href="#" class="px-2 py-1 mb-2 btn btn-success">Edit</a> <br>
              <a href="#" class="px-2 fs-2 py-1 btn btn-danger">Delete</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7" class="px-4 py-3 text-center text-gray-500 dark:text-gray-400">
              No projects posted yet.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

    


    </body>
    </html>
    {%  endblock %}