<!-- templates/add_service.html -->
<!DOCTYPE html>
{% extends "userdashboard.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Service</title>
    <!-- Optional: Add CSS or Bootstrap for styling -->
</head>
<body>
    <div class="container">
     <!-- Registration 2 - Bootstrap Brain Component -->

    
        <div class="col-12 col-md-11 col-lg-12 col-xl-12 col-xxl-12">
        
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <h2 class="h5">Portfolio</h2>
                  <h6 class="fs-6 fw-normal text-secondary m-0">Add Your Portfolio details Below</h3>
                </div>
              </div>
            </div>
            <form action="{% url 'freelancer_portfolio_project' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row gy-3 gy-md-4 overflow-hidden">
                <div class="col-12 mb-2">
                  <label for="firstName" class="form-label">Project name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="project_name" id="project_name" placeholder="Project name" required>
                </div>
                <div class="col-12 mb-2">
                    <label for="lastName" class="form-label">Tools used <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" name="tools" id="lastName" placeholder="Tools" required>
                </div>
                
                <div class="col-12 mb-2">
                    <label for="password" class="form-label">Description <span class="text-danger">*</span></label>
                 <textarea name="description" id="" placeholder="Description" class="form-control"></textarea>
                </div>

                 <div class="col-12 mb-2">
                    <label for="password" class="form-label">Image <span class="text-danger">*</span></label>
                  <input type="file" class="form-control" name="imgg" id="lastName" placeholder="Tools" required>
                </div>

                 <div class="col-12 mb-2">
                    <label for="password" class="form-label">Link  <span class="text-danger">*</span></label>
                 <textarea name="link" id="" placeholder="Description" class="form-control"></textarea>
                </div>

               
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary" type="submit">Add Now</button>
                  </div>
                </div>
              </div>
            </form>
            
           
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</body>
</html>
{%  endblock %}